@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width-device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" type="text/css" href="~/css/style_vogias.css" />
    <title>Add Backer</title>
</head>
    <div class="col-md-12 col-sm-12">
        <form id="createBackerForm">
            <table align="center" class="table table-hover table-borderless table-sm">
                <tr align="center">
                    <td>
                        <div class="form">
                            <input type="text" name="FirstName" id="FirstName" autocomplete="off" required>
                            <label for="FirstName" class="label-form">
                            <span class="content-form">First Name</span>
                        </div>
                    </td>
                    @*<td> <input type="text" id="FirstName" placeholder=" First Name" /></td>*@
                </tr>
                <tr align="center">
                    <td>
                        <div class="form">
                            <input type="text" name="LastName" id="LastName" autocomplete="off" required>
                            <label for="LastName" class="label-form">
                                <span class="content-form">Last Name</span>
                        </div>
                    </td>
                    @*<td> <input type="text" id="LastName" placeholder="Last Name" /></td>*@
                </tr>
                <tr align="center">
                    <td>
                        <div class="form">
                            <input type="email" name="Email" id="Email" autocomplete="off" required pattern="/^[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{​​2,}​​$$/">
                            <label for="Email" class="label-form">
                                <span class="content-form">Email</span>
                        </div>
                    </td>
@*                    <td>
                        <input type="text" id="Email" placeholder="Email" />
                    </td>*@
                </tr>
                <tr align="center">
                    <td>
                        <input class="myButton" type="button" value="Submit" onclick="addBacker()" />
                    </td>
                </tr>
            </table>
            <div id="result" name="result"></div>
        </form>
    </div>
