@model ProjectModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add a project</h1>
<form id="createProjectForm">
    <table align="center">
        <tr align="center">
            <td>
                Title
            </td>
            <td> <input type="text" id="Title" placeholder="Title" /></td>
        </tr>
        <tr align="center">
            <td>
                Category
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="Category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Category
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" data-value="Tech" style="color:black">Tech</a></li>
                        <li><a href="#" data-value="Art" style="color:black">Art</a></li>
                        <li><a href="#" data-value="Sports" style="color:black">Sports</a></li>
                        <li><a href="#" data-value="Health" style="color:black">Health</a></li>
                        <li><a href="#" data-value="Industry" style="color:black">Industry</a></li>
                        <li><a href="#" data-value="Business" style="color:black">Buisness</a></li>
                        <li><a href="#" data-value="Gadget" style="color:black">Gadget</a></li>
                        <li><a href="#" data-value="Clothing" style="color:black">Clothing</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr align="center">
            <td>
                Description
            </td>
            <td> <input type="text" id="Description" placeholder="Description" /></td>
        </tr>
        <tr align="center">
            <td>
                TargetBudget
            </td>
            <td>
                <input type="number" id="TargetBudget" placeholder="TargetBudget" />
            </td>
        </tr>
        <tr align="center">
            <td>
                ProjectCreatorId
            </td>
            <td>
                <input type="number" id="ProjectCreatorId" placeholder="ProjectCreatorId" />
            </td>
        </tr>
        <tr align="center">
            <td>
                <input type="button" value="Submit data" onclick="addProject()" />
            </td>
        </tr>
    </table>
    <div id="result" name result></div>
</form>
