@model ProjectModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style_vogias.css" />
    <title>Add a project</title>
</head>
<h1>Add a project</h1>
<form id="createProjectForm">
    <table align="center" class="table table-hover table-borderless table-sm">
        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="Title" id="Title" autocomplete="off" required>
                    <label for="Title" class="label-form">
                    <span class="content-form">Title</span>
                </div>
            </td>
            @*<td> <input type="text" id="Title" placeholder="Title" /></td>*@
        </tr>
        <tr align="center">
@*            <td>
                <div class="form">
                    <input type="text" name="Category" id="Category" autocomplete="off" required>
                    <label for="Category" class="label-form">
                    <span class="content-form">Category</span>
                </div>
            </td>*@
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="Category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Category
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" data-value="Tech" style="color:black">Tech</a></li>
                        <li><a href="#" data-value="Art" style="color:black">Art</a></li>
                        <li><a href="#" data-value="Sports" style="color:black">Sports</a></li>
                        <li><a href="#" data-value="Health" style="color:black">Health</a></li>
                        <li><a href="#" data-value="Industry" style="color:black">Industry</a></li>
                        <li><a href="#" data-value="Business" style="color:black">Business</a></li>
                        <li><a href="#" data-value="Gadget" style="color:black">Gadget</a></li>
                        <li><a href="#" data-value="Clothing" style="color:black">Clothing</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="Description" id="Description" autocomplete="off" required>
                    <label for="Description" class="label-form">
                    <span class="content-form">Description</span>
                </div>
            </td>
            @*<td> <input type="text" id="Description" placeholder="Description" /></td>*@
        </tr>
        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="TargetBudget" id="TargetBudget" autocomplete="off" required>
                    <label for="TargetBudget" class="label-form">
                        <span class="content-form">TargetBudget</span>
                </div>
            </td>
@*            <td>    <input type="number" id="TargetBudget" placeholder="TargetBudget" />        </td>*@
        </tr>
        <tr align="center">
            <td>
                <input class="myButton" type="button" value="Submit data" onclick="addProject()" />
            </td>
        </tr>
    </table>
    <div id="result" name result></div>
</form>
