@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width-device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" type="text/css" href="~/css/style_vogias.css" />
    <title>Add Project Creator</title>
</head>
<form id="createProjectCreatorForm">
    <table align="center" class="table table-hover table-borderless table-sm">
        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="FirstName" id="FirstName" placeholder="" autocomplete="off" required>
                    <label for="FirstName" class="label-form">
                    <span class="content-form">FirstName</span>
                </div>
            </td>
        </tr>

        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="LastName" id="LastName" placeholder="" autocomplete="off" required>
                    <label for="LastName" class="label-form">
                    <span class="content-form">LastName</span>
                </div>
            </td>
        </tr>

        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="Description" id="Description" placeholder="" autocomplete="off" required>
                    <label for="Description" class="label-form">
                    <span class="content-form">Description</span>
                </div>
            </td>
        </tr>
        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="Email" id="Email" placeholder="" autocomplete="off" required>
                    <label for="Email" class="label-form">
                    <span class="content-form">Email</span>
                </div>
            </td>
        </tr>
        <tr align="center">
            <td>
                <input class="myButton" type="button" name="submit_button" value="Submit data" onclick="addProjectCreator()" />
            </td>
        </tr>
    </table>
    <div id="result" name="result"></div>
</form>