@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width-device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" type="text/css" href="~/css/style_vogias.css" />
    <title>Add Reward Package</title>
</head>
<form id="createRewardPackageForm">


    <table align="center" class="table table-hover table-borderless table-sm">
        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="Price" id="Price" autocomplete="off" required>
                    <label for="Price" class="label-form">
                    <span class="content-form">Price</span>
                </div>
            </td>
        </tr>

        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="Reward" id="Reward" autocomplete="off" required>
                    <label for="Reward" class="label-form">
                    <span class="content-form">Reward</span>
                </div>
            </td>
        </tr>

        <tr align="center">
            <td>
                <div class="form">
                    <input type="text" name="ProjectId" id="ProjectId" autocomplete="off" required>
                    <label for="ProjectId" class="label-form">
                    <span class="content-form">ProjectId</span>
                </div>
            </td>
        </tr>

        <tr align="center">
            <td>

                <input class="myButton" type="button" name="submit_button" value="Submit data" onclick="addRewardPackage()">

            </td>
        </tr>
    </table>

    <div id="result" name="result"></div>
</form>
