<div>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="username">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" class="form-control" id="password">
        </div>

        <button id="login-btn" type="button" style="display:normal" class="btn btn-primary">Submit</button>
    </form>
</div>