@model RewardPackageModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Reward Packages</h1>
    <p class="lead">Become a Backer of this project by selecting one of the following packages.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        @foreach (var rewardpackage in Model.RewardPackages)
        {
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">@rewardpackage.Price <small class="text-muted"></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>@rewardpackage.Reward</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="createTransaction(@rewardpackage.Id)">
                    Get This
                    </button>
                </div>
            </div>
        }
    </div>
</div>