@model ProjectCreatorOptionModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="jumbotron">
    <h1>Project Creator Profile!</h1>
        <div class=" list-group-horizontal-lg">
            <span class="list-group" id="sizing-addon1">Description</span>
            <p class="list-group-item list-group-item-action list-group-item-info">@Model.ProjectCreator.Description</p>
        </div>
        <div class="list-group-horizontal">
            <span class="list-group" id="sizing-addon1">FirstName</span>
            <p class="list-group-item list-group-item-action list-group-item-info">@Model.ProjectCreator.FirstName</p>
        </div>
        <div class="list-group-horizontal">
            <span class="list-group" id="sizing-addon1">LastName</span>
            <p class="list-group-item list-group-item-action list-group-item-info">@Model.ProjectCreator.LastName</p>
        </div>
        <div class="list-group-horizontal">
            <span class="list-group" id="sizing-addon1">Email</span>
            <p class="list-group-item list-group-item-action list-group-item-info">@Model.ProjectCreator.Email</p>
        </div>
    <p><a class="btn btn-secondary btn-lg" href="~/home/UpdateProjectCreator/@Model.ProjectCreator.Id" role="button">Update Info</a></p>
</div>
